packages:
  yum:
    mysql-devel: []
  # Uncomment the following lines if you are using a Debian-based distribution
  # apt:
  #   libmysqlclient-dev: []
commands:
  set_mysqlclient_env:
    command: |
      echo "export MYSQLCLIENT_CFLAGS=$(mysql_config --cflags)" >> /opt/elasticbeanstalk/hooks/appdeploy/pre/00_set_mysqlclient_env.sh
      echo "export MYSQLCLIENT_LDFLAGS=$(mysql_config --libs)" >> /opt/elasticbeanstalk/hooks/appdeploy/pre/00_set_mysqlclient_env.sh
