{% extends 'user/user_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-light bg-light">
    <div class="panel-heading">
      <h6 class="display-4">Claims</h6>
    </div>

    <ol class="list-group list-group-numbered">
      {% for claim in user_claims %}
      <li class="list-group-item d-flex shadow-sm p-3 justify-content-between align-items-start mb-5">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{claim.policy}}</div>
            <p>Claim Date: {{claim.claim_date}}</p>
            <p>Claim Amount: {{claim.amount}}</p>
            <p>Description: {{claim.description}}</p>
            <p>Damage: {% if claim.damage.severity == "Low" %}
              <span class="text-info">{{claim.damage}}</span>
          {% elif claim.damage.severity == "Moderate" %}
              <span class="text-warning">{{claim.damage}}</span>
          {% elif claim.damage.severity == "Severe" %}
              <span class="text-danger ">{{claim.damage}}</span>
          {% else %}
              <span class="text-secondary ">{{claim.damage}}</span>
          {% endif %}</p>
        </div>
        {% if claim.status == "Pending" %}
        <span class="badge badge-primary text-bg-primary">Pending</span>
    {% elif claim.status == "Approved" %}
        <span class="badge badge-success text-bg-success">Approved</span>
    {% elif claim.status == "Rejected" %}
        <span class="badge badge-danger text-bg-danger">Rejected</span>
    {% else %}
        <span class="badge badge-secondary">{{claim.status}}</span>
    {% endif %}
      </li>
      
      {% endfor %}
    </ol>
  </div>
</div>
{% endblock content %}