{% extends 'user/user_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>
<br><br>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Policies</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
        <th>Serial No.</th>
          <th>Car</th>
          <th>Policy</th>
          <th>Sum Assurance</th>
          <th>Amount Claimed</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      {% for policy in user_policies %}
      <tr>
        <td> {{ forloop.counter }}</td>
        <td> {{policy.car}}</td>
        <td> {{policy.policy}}</td>
        <td> {{policy.sum_assurance}}</td>
        <td> {{policy.amount_claimed}}</td>
        <td> {{policy.start_date}}</td>
        <td> {{policy.end_date}}</td>
        <td>  {% if policy.is_active %}
          <span class="badge badge-success bg-success"> Active</span>
        {% else %}
          <span class="badge badge-secondary bg-secondary">Expired</span>
        {% endif %}</td>
        <td>
          {% if  not policy.is_active %}
            <a class="btn btn-success btn-xs" href="{% url 'renew_policy' policy.id  %}" data-toggle="tooltip" data-placement="bottom" title="renew"><span class="glyphicon glyphicon-repeat"></span></a>
          {% else %}
            <a class="btn btn-primary btn-xs" href="{% url 'claim_assurance' policy.id  %}" data-toggle="tooltip" data-placement="bottom" title="claim" ><span class="glyphicon glyphicon-edit"></span></a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

<br><br><br><br><br><br>
{% endblock content %}